.fordf{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
cursor: pointer;
}

.img_name{
    display: flex;
    align-items: center;
    gap: 10px;
    background: #85bdf5;
    width: 100%;
    margin: auto;
}

.img_name img{
width: 40px;
height: 40px;
background-color: #fff;
border: none;
border-radius: 50%;
}
.img_name h3{
    font-size: 20px;
    color: white;
    font-family: 'Signika Negative', sans-serif;
}
.bx-menu-alt-left{
    color: white;
    margin-left: 5px;
    position: relative;
    font-size: 20px;
}

.tg1{
    width: 30%;
    border: 1px solid grey;
    border-radius: 20px;
    overflow: hidden;
    position: relative;

}
.tg2{
    width: 30%;
    border: 1px solid grey;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}
.text_place{
    padding: 10px;
    background: url("https://i.pinimg.com/236x/78/f9/3a/78f93ae9f639e3ce738d28608c8a2f6d.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 400px;
}
.messege{
    background-color: #85bdf5;
    color: white;
    padding: 10px;
    border-radius: 10px;
    border-bottom-right-radius: 0px;
    width: auto;
}
.messege2{
    background-color: #fff;
    color: white;
    padding: 10px;
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    width: auto;
    margin-top: 20px;
    color: black;

}
.messege4{
    background-color: #85bdf5;
    color: white;
    padding: 10px;
    border-radius: 10px;
    border-bottom-right-radius: 0px;
    width: auto;
     margin-top: 20px;   
}

.messege3{
    background-color: #fff;
    color: white;
    padding: 10px;
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    width: auto;
    color: black;
   
}

.sendmes{
    display: flex;
    align-items: center;
    padding: 5px;
}
.sendmes input{
    border: none;
    outline: none;
    height: 30px;
    width: 90%;
}
.send{
    background-color: #85bdf5;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    height: 30px;
    border: none;
    border-radius: 5px;
}

.setting{
    position: absolute;
    background: #fff !important; 
    z-index: 99999;
    width: 80%;
    margin-left: 5px;
    margin-top: 10px;
    border-radius: 10px;
    padding: 10px;
    left: -100%;
    transition: 1s !important;
}
.setting2{
    position: absolute;
background: #fff !important; 
z-index: 99999;
width: 80%;
margin-left: 5px;
margin-top: 10px;
border-radius: 10px;
padding: 10px;
left: -100%;
transition: 1s !important;
}

.setbgc{
padding: 10px;
width: 80%;
margin: auto;
cursor: pointer;
}
.setting2 hr{
    width: 80%;
    height: 1px;
    border: none;
    margin: auto;
    background-color: #96969680;
    margin-top: 10px;
}
.setting hr{
    width: 80%;
    height: 1px;
    border: none;
    margin: auto;
    background-color: #96969680;
    margin-top: 10px;
}
.setbgc:hover{
background-color: #eeececbd;
border-radius: 20px;
}
.delete{
    padding: 10px;
width: 80%;
margin: auto;
margin-top: 10px;
cursor: pointer;
}
.delete:hover{
    background-color: #eeececbd;
    border-radius: 20px;
    }


.change_bgc{
    position: absolute;
    background-color: #fff;
    width: 100%;
    z-index: 99999;
    padding: 10px;
    left: -1000%;
    width: 80%;
margin-left: 5px;
margin-top: 10px;
border-radius: 10px;
transition: 1s !important;
}

.df_back_change{
    display: flex;
    align-items: center;
    gap: 50px;
}

.change_bgc_img{
    width: 70px;
    height: 150px;
}

.change_bgc_img2{
    width: 70px;
    height: 150px;
}

.change_bgc_img3{
    width: 70px;
    height: 150px;
}

.change_bgc_img4{
    width: 70px;
    height: 150px;
}

.change_bgc_img5{
    width: 70px;
    height: 150px;
}

.change_bgc_img6{
    width: 70px;
    height: 150px;
}

.change_bgc_img7{
    width: 70px;
    height: 150px;
}

.change_bgc_img8{
    width: 70px;
    height: 150px;
}

.df_img_change{
    display: flex;
    align-items: center;
    gap: 5px;
    width: 90%;
    margin: auto;
    margin-bottom: 10px;
}